<form method="post" class="d-inline" action="{{ path('admin_categorie_immobilier_delete', {'id': categorie.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette catégorie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
    <button class="btn btn-default text-danger"><i class="fa fa-trash-alt"></i> Supprimer</button>
</form>
