<form method="post" class="d-inline" action="{{ path('admin_immobilier_media_delete', {'id': media.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette image?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ media.id) }}">
    <button class="btn btn-default text-danger btn-sm"><i class="fa fa-trash-alt"></i></button>
</form>
