{% extends 'admin.html.twig' %}

{% block title %}Ajouter une catégorie annonce{% endblock %}

{% block pagelink %}
    <li class="breadcrumb-item"><a href="{{ path('admin_categorie_annonce_index') }}">Catégorie d'annonces</a></li>
    <li class="breadcrumb-item active">Ajouter une catégorie annonce</li>
{% endblock %}

{% block body %}

    {{ include('admin/admin_categorie_annonce/_form.html.twig') }}

{% endblock %}
