<div class="bg-overlay"></div>
<!-- NAVBAR -->
<nav class="navbar navbar-hover navbar-expand-lg navbar-soft navbar-transparent">
	{{ include('partials/front/_menu.html.twig') }}
</nav>
<!-- HERO -->
<div class="wrap__intro d-flex align-items-md-center  ">
	<div class="container  ">
		<div class="row align-items-center justify-content-start flex-wrap">
			<div class="col-lg-12 mx-auto">
				<div class="wrap__intro-heading" data-aos="fade-up">

					<h1 class="text-capitalize text-center">Trouvez la maison de vos rêves </h1>
					<p class="text-center">Votre propriété, notre priorité et à partir de 10 $ par jour avec des rabais sur les offres à durée limitée</p>

					<div class="bg__overlay-black p-4">
						<div class="search__property">
							<div class="position-relative">
								<div class="search__container">
									<div class="row input-group no-gutters">
										<div class="col-lg-3">
											<select class="select_option form-control" name="select">
												<option selected>Programmes Neufs</option>
												<option>Maison</option>
												<option>Apartement </option>
											</select>
										</div>
										<div class="col-lg-3">
											<select class="select_option form-control" name="select">
												<option data-display="Toute les régions">Toute les régions</option>
												<option>Paris</option>
											</select>
										</div>
										<div class="col-lg-3">
											<select class="select_option form-control" name="select">
												<option data-display="Budget">Budget</option>
												<option>0</option>
												<option>2</option>
												<option>100</option>

											</select>
										</div>
										<div class="col-lg-3 input-group-append">
											<a href="{{ path('immobiliers') }}" class="btn btn-primary pt-3 btn-block text-uppercase">
												<i class="fa fa-search"></i> Chercher
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
