{{ include('partials/front/_top_nav.html.twig') }}

<!-- NAVBAR -->
{{ include('partials/front/_bottom_nav.html.twig') }}

<!-- HERO --
<div class="wrap__intro d-flex align-items-md-center">
	<div class="container  ">
		<div class="row align-items-center justify-content-start flex-wrap">
			<div class="col-lg-12 mx-auto">
				<div class="wrap__intro-heading" data-aos="fade-up">

					<h1 class="text-capitalize text-center">Trouvez la maison de vos rêves </h1>
					<p class="text-center">Votre propriété, notre priorité et à partir de 10 $ par jour avec des rabais sur les offres à durée limitée</p>

					<div class="bg__overlay-black p-4">
						<form method="get" action="{{ path('immobiliers') }}" class="search__property">
							<div class="position-relative">
								<div class="search__container">
									<div class="row input-group no-gutters">
										<div class="col-lg-3">
											<select class="select_option form-control" name="type">
												<option data-display="--Type--">--Type--</option>
												<option value="maison-familliale">Maison familialle</option>
												<option value="maison-unifamiliale">Maison unifamiliale </option>
												<option value="maison-de-luxe">Maison de luxe</option>
												<option value="maison-compagne">Maison de campagne</option>
											</select>
										</div>
										<div class="col-lg-3">
											<select class="select_option form-control" name="statut">
												<option data-display="--statut--">--statut--</option>
												<option value="a-louer">A louer</option>
												<option value="a-vendre">A vendre</option>
											</select>
										</div>
										<div class="col-lg-3">
											<select class="select_option form-control" name="select">
												<option data-display="Budget">Budget</option>
												<option>1000</option>
												<option>2000</option>
												<option>3000</option>
											</select>
										</div>
										<div class="col-lg-3 input-group-append">
											<button type="submit" class="btn btn-primary pt-3 btn-block text-uppercase">
												<i class="fa fa-search"></i> Chercher
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>-->
