<!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2022 {{ appName }}.</strong>
    Tout les droits sont reservés.
    <div class="float-right d-none d-sm-inline-block">
      <b>Espace d'administration</b>
    </div>
  </footer>